@import "../../../../assets/scss/variable";
@import "../../../../assets/scss/mixins/mixins";

.profile-avatar {
  @include flex($justify: center, $align: center, $direction: column);

  .avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  i {
    position: absolute;
    top: 80%;
    left: 80%;
    font-size: 1.5rem;
  }
}
