@import "./scss/variables.scss";
@import "./scss/mixin.scss";

@import "./scss/components/customFileInput.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

tr,
td {
  margin: 0;
  padding: 0.2rem;
}

th {
  padding: 0.5rem;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

.error-message {
  color: $color-red;
}
