@import '../../../../assets/scss/variable';
@import '../../../../assets/scss/mixins/mixins';

.search {
    width: 100%;
    height: 100%;
    background-color: $bg-white;
    position: relative;
    border-radius: 50px;
    
    input {
        width: 94%;
    }

    .button-search {
        outline: none;
        border: none;
        background-color: transparent;
        position: absolute;
        right: 5px;
        top: 5px;
    }
}


