@import "../../scss/variables.scss";
@import "../../scss/mixin.scss";

.products-container {
  @include grid($column: repeat(2, 1fr), $row-gap: 2rem, $col-gap: 1rem);

  &__table {
    grid-column: 1 /-1;
  }

  .addproduct-modal {
    .avatar {
      height: 6rem;
      width: 8rem;
    }
  }

  .chart {
    height: 30vh;
    background-color: $color-grey-light-1;
    border-radius: 0.5rem;

    &-header {
      @include flex($justify: flex-end, $align: center);
      padding: 0 1rem;

      .select {
        border-radius: 0.5rem;
        overflow: hidden;
        border: 1px solid $color-grey-dark-2;
      }
    }

    select {
      border-radius: 0.2rem;
    }
  }
}
