@import "../variable";

.button {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid $border-line;
  outline: none;
  color: $text-white;
  font-size: $fs-s;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 400;
  border-radius: 4px;
  transition: all 0.3s;
}

.button-base {
  background-color: $other-color;
}

.button-base:hover {
  background-color: $gray-color;
}

.button-other {
  background-color: $other-color;
  border: 2px solid $other-color;
  font-weight: 700;
  width: 100%;
}

.button-other:hover {
  background-color: $bg-white;
  color: $other-color;
}

.button--success {
  background-color: $green-color1;
}

.button--success:hover {
  background-color: $green-color2;
}

.button--danger {
  background-color: $bg-white;
  border: 2px solid  $red-color;
  color:  $red-color;
  font-weight: 700;
}

.button--danger:hover {
  background-color: $red-color;
  color: $text-white;
}
